@media (max-width: 991px) {
  /* common css  */
  section {
    padding: 30px 0;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
  }
  /* Navbar section */
  .header-scrolled {
    height: auto;
  }
  .navbar-section .navbar-custom {
    text-align: center;
    background-color: var(--bg-dark-blue);
    padding-bottom: 15px;
  }
  .navbar-section .nav-item .nav-link {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  /* common css */
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 13px;
    line-height: 24px;
  }
  .portfolio-section .card {
    height: 21rem;
  }
}
